header.bg-primary.p-4
    .container.mx-auto.flex.justify-between.items-center
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Market 
                span.font-normal Manzanares
        nav(class="my-5 text-sm font-bold text-white md:flex md:items-center md:gap-3 hidden") 
                a(href="/auth/login") Iniciar Sesión



